<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" />
        </h1>
    </header>

    <div class="outer-content">

        <nav class="tabs">
            <a class="item active" data-tab="takerDetails">Taker</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="threats">Threats</a>
            <a class="item" data-tab="damage">Damage</a>
            <a class="item" data-tab="gear">Gear</a>
        </nav>

        <div class="content">
            <div class="tab" data-tab="takerDetails">
                <table>
                    {{#each config.takerDetails as |name type|}}
                    {{#with (lookup ../data.data.takerDetails type) as |detail|}}
                    <tr>
                        <td>
                            {{ localize name }}
                        </td>
                        <td>
                            <input name="data.takerDetails.{{type}}.value" type="text" value="{{detail.value}}" />
                        </td>
                    </tr>
                    {{/with}}
                    {{/each}}
                </table>
            </div>

            <div class="tab" data-tab="skills">
                <table>
                    {{#each config.potentials as |potentialName potentialType|}}
                    {{#with (lookup ../data.data.potentials potentialType) as |potential|}}
                    <tr>
                        <td>
                            <h2>{{ localize potentialName }}</h2>
                        </td>
                        {{#if potential.hasMax}}
                        <td>
                            <input name="data.potentials.{{potentialType}}.value" type="text"
                                value="{{potential.value}}" />
                        </td>
                        <td>
                            /
                        </td>
                        <td>
                            <input name="data.potentials.{{potentialType}}.max" type="text"
                                value="{{potential.max}}" />
                        </td>
                        {{else}}
                        <td colspan="3">
                            <input name="data.potentials.{{potentialType}}.value" type="text"
                                value="{{potential.value}}" />
                        </td>
                        {{/if}}
                    </tr>
                    {{#each potential.skills as |skill|}}
                    <tr>
                        {{#if skill.isSpecialization}}
                        <td>
                            <input name="data.potentials.{{potentialType}}.skills.{{skill.name}}.specializationName"
                                type="text" value="{{skill.specializationName}}" />
                        </td>
                        {{else}}
                        <td>
                            {{ localize skill.translation }}
                        </td>
                        {{/if}}
                        <td colspan="{{#if skill.isRollable}}3{{else}}1{{/if}}">
                            <input name="data.potentials.{{potentialType}}.skills.{{skill.name}}.value" type="text"
                                value="{{skill.value}}" data-dtype="Number" />
                        </td>
                        {{#if skill.hasMax}}
                        <td>
                            /
                        </td>
                        <td>
                            <input name="data.potentials.{{potentialType}}.skills.{{skill.name}}.max" type="text"
                                value="{{skill.max}}" data-dtype="Number" />
                        </td>
                        {{/if}}
                        {{#if skill.isRollable}}
                        <td>
                            <a class="skill-roll" data-action-value="{{skill.value}}"
                                data-action-name="{{#if skill.isSpecialization}}{{skill.specializationName}}{{else}}{{ localize skill.translation }}{{/if}}">
                                <i class="fas fa-dice"></i>
                            </a>>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                    {{/with}}
                    {{/each}}
                </table>
            </div>

            <div class="tab" data-tab="threats">
                <table>
                    {{#each config.threats as |threatName threatType|}}
                    {{#with (lookup ../data.data.threats threatType) as |threat|}}
                    <tr>
                        <th>
                            {{ localize threatName }}
                        </th>
                        <td>
                            <input name="data.threats.{{threatType}}.value" type="text" value="{{threat.value}}"
                                data-dtype="Number" />
                        </td>
                        <td>
                            /
                        </td>
                        <td>
                            <input name="data.threats.{{threatType}}.max" type="text" value="{{threat.max}}"
                                data-dtype="Number" />
                        </td>
                    </tr>
                    {{/with}}
                    {{/each}}
                </table>
            </div>

            <div class="tab" data-tab="damage">
                <table>
                    <tr>
                        <th>
                            Hit Location
                        </th>
                        <th>
                            Die
                        </th>
                        <th>
                            Stun
                        </th>
                        <th>
                            Kill
                        </th>
                        <th>
                            Max
                        </th>
                    </tr>
                    {{#each config.damage as |damageName damageType|}}
                    {{#with (lookup ../data.data.damage damageType) as |hitLocation|}}
                    <tr>
                        <td>
                            {{ localize damageName }}
                        </td>
                        <td>
                            {{hitLocation.hitLocations}}
                        </td>
                        <td>
                            <input name="data.damage.{{damageType}}.stunDamage" type="text" value="{{hitLocation.stunDamage}}"
                                data-dtype="Number" />
                        </td>
                        <td>
                            <input name="data.damage.{{damageType}}.killDamage" type="text" value="{{hitLocation.killDamage}}"
                                data-dtype="Number" />
                        </td>
                        <td>
                            <input name="data.damage.{{damageType}}.maxHealthBoxes" type="text" value="{{hitLocation.maxHealthBoxes}}"
                                data-dtype="Number" />
                        </td>
                    </tr>
                    {{/with}}
                    {{/each}}
                </table>
            </div>

            <div class="tab" data-tab="gear">
                <h3>Gear</h3>
                <ol>
                    {{#each actor.items as |item id|}}
                    {{#ifeq item.type "gear"}}
                    <li class="actor-item" data-item-id="{{item.id}}">
                        <div class="item-name">
                            <h3>{{item.name}}</h3>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ol>
                <h3>Dependents and References</h3>
                <ol>
                    {{#each actor.items as |item id|}}
                    {{#ifeq item.type "person"}}
                    <li class="actor-item" data-item-id="{{item.id}}">
                        <div class="item-name">
                            <h3>{{item.name}}</h3>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ol>
            </div>

        </div>
    </div>
</form>